@{
    ViewData["Title"] = "Making that money";
}
<h2>Money Masters</h2>

<p>
    Money masters guarantees you will be a billionaire in 3 days or less
</p>
<p>Sure fire techniques for bringing in cash fast!</p>
<p>Calculate your future value instantly!</p>
<img src="~/Images/money-6626359_960_720.jpg" alt="money tree" style="border-radius:20px;width:100%;" class="col-md-4" />
