@{
    ViewData["Title"] = "Making that money";
}
<div class="row">
    <h1 class="col-sm-12">Money Masters</h1>

        <p class="col-sm-4">
            Money masters guarantees you will be a billionaire in 3 days or less
        </p>
        <p class ="col-sm-4">
            Sure-fire techniques for bringing in cash fast!
         </p>
        <p class = "col-sm-4">
            Calculate your future value instantly!
         </p>
        <div class="col-sm-12">
        <img src="~/Images/money-6626359_960_720.jpg" alt="money tree" style="border-radius:20px;width:100%;" />
        </div>
</div>