@{
    ViewData["Title"] = "Making that money";
}
<h2>Money Masters!</h2>
<h3>see your future millions!</h3>

<address>
    533 5th Street<br />
    Traverse City, MI 49694<br />
    <abbr title="Phone">P:</abbr>
    555-123-5432
</address>

<address>
    <strong>Money Masters Support:</strong> <a href="mailto:Support@MoneyMasters.com">Support@MoneyMasters.com</a><br />

</address>
